@import url('https://fonts.googleapis.com/css2?family=Nabla&display=swap');
body{
    justify-content: center;
    text-align: center;
   
}

.logo{
    height: 200px;
    width: 400px;
}
.container-fluid{
    background-color: #F8EDE3;
    max-width: 96%;
    margin: auto;
    border-radius: 50px;
    box-shadow: 0 0 10px 10px #c5c3c3;
}
.nav-item{
    display: inline-block;
    width: 200px;
    height: 100px;
    margin: 0 1px 0 1px;
    justify-content: space-between;
    text-align: center;
}

.f{
    margin: 5px;
     font-weight: 900;
    color: yellow;
    font-family: Nabla;
    font-size: 1.5rem;
    animation-name: normal;
    animation-duration: 0.1s;
}
.f:hover{
animation-name: enlarge;
animation-fill-mode: forwards;
animation-duration: 0.1s
}
.content{
    height: 100vh;
}
.container{
    max-width: 96%;
   margin:20px;
   padding: 0px;
   border-radius: 50px;
    background-color: #DFD3C3;
}
.col{
   position: relative;;
  padding: 0px;
  margin: 30px 0 30px 0;
  justify-content: center;
  text-align: center;
    
    
}
.parent{
    position: relative;
}
.text{
    position: absolute;
  right: 0%; 
   top: 40%;
   width: 400px;
   height: 300px;
   font-size: 72px;
 
  font-weight: bolder;
   font-size: 4rem;

}
.a{
 color: white;
 padding-left: 10px;
 background-color: black;
 border: 1px solid black;
}
.b{
    color: yellow;
    padding-right: 10px;
    background-color: black;
    border: 1px solid black;
}
.c{
    color:white ;
    padding: 0px 10px 0 10px;
    background-color: black;
    border: 1px solid black;
}
.d{
    color: yellow;
    padding: 0px 10px 0 10px;
    background-color: black;
    border: 1px solid black;
}
.round{
    border-radius: 50px;
    animation-name: normalr;
    animation-duration: 0.1s;
}
 .round:hover{
   animation-name: hover1;
   animation-fill-mode: forwards;
   animation-duration: 0.1s;
   
}

.footer{
    background-color: #D0B8A8;
    width: 96%;
    margin: 0px 0px 0px 30px;
    height: 200px;
    border-radius: 50px;
}
.footercolor{
    position: relative;
    font-size: 1rem;
    font-weight: bolder;
    top: 50%;
    color: #7D6E83;
  
}

   @keyframes hover1 {
    0%{
        box-shadow: 0 0 0 0;
        scale: 1;
    }
    100%{
        box-shadow: 0 0 10px 10px #949393;
        scale: 1.05;
    }   
   }
   @keyframes normalr {
    0%{
        box-shadow: 0 0 10px 10px #949393;
        scale: 1.05;
    }
    100%{
        box-shadow: 0 0 0 0;
        scale: 1;
    }   
   }


   @keyframes enlarge {
    0%{
        margin: 10px;
        font-weight: 900;
        color: yellow;
        font-family: Nabla;
        font-size: 1.5rem;
        border-radius: 50px;
    }
    100%{
        font-size: 1.8rem;
        color: yellow;
      background-color: #DFD3C3;
      border-radius: 50px;
    }
   }
   @keyframes normal {
    0%{
        font-size: 1.8rem;
        color: yellow;
      background-color: #DFD3C3;
      border-radius: 50px;
    }
    100%{
        margin: 10px;
        font-weight: 900;
        color: yellow;
        font-family: Nabla;
        font-size: 1.5rem;
    }
 
   }